<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page Web</title>
    <!--<link rel="stylesheet" href="~/Styles/StyleSheet.css">

     Formulaire pour KNN-->

    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('https://livetechspot.com/wp-content/uploads/2020/07/Complete-Guide-List-on-How-to-Optimize-E-commerce-Website.jpg');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: black; /* Changement de couleur du texte en blanc pour une meilleure lisibilité */
            font-family: Arial, sans-serif;
        }

        .menu {
            display: flex;
            justify-content: center;
            background-color: rgba(0, 0, 0, 15);
            padding: 20px;
            width: 100%;
        }

            .menu ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
            }

                .menu ul li {
                    /*display: inline-block;*/
                    margin-right: 20px;
                }

                    .menu ul li:last-child {
                        margin-right: 0; /* Supprimer la marge à droite du dernier élément de la liste */
                    }

                    .menu ul li a {
                        color: white;
                        text-decoration: none;
                    }

        .content {
            display: flex; /* Utiliser Flexbox pour aligner les sections horizontalement */
            justify-content: center; /* Centrer les sections horizontalement */
            align-items: center; /* Centrer verticalement les éléments à l'intérieur des sections */
            flex-direction: row; /* Aligner les éléments horizontalement */
            flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne s'ils dépassent la largeur de leur conteneur */
            margin-top: 20px; /* Espacement entre les sections */
        }

        .method-sections {
            display: flex;
            flex-wrap: wrap; /* Permet aux sections de passer à la ligne si nécessaire */
            justify-content: center; /* Centre les sections horizontalement */
        }

        .method-section {
            flex: 0 1 300px; /* Les sections ont une largeur minimale de 300px et peuvent s'adapter à la taille disponible */
            margin: 10px; /* Espacement entre les sections */
            position: relative; /* Position relative pour les effets de survol */
            transition: flex-grow 0.3s ease; /* Transition pour l'élargissement lors du survol */
            border-radius: 10px; /* Arrondi les coins */
            overflow: hidden; /* Empêche le contenu de déborder des coins arrondis */
        }

        /* Couleur de fond transparente pour chaque section */
        .analytique {
            background-color: rgba(10, 0, 0, 0.3); /* Rouge transparent */
        }

        .svm {
            background-color: rgba(10, 0, 0, 0.3); /* Vert transparent */
        }
        .knn {
            background-color: rgba(10, 0, 0, 0.3)
        }

        .RandomForest {
            background-color: rgba(10, 0, 0, 0.3)
        }

        .method-section:hover {
            flex-grow: 2; /* Élargit la section au survol */
        }

        .method-section h2 {
                margin-right: 20px; /* Espacement entre le titre et le formulaire */
            }
        h1 {
            font-size: 2em; /* Taille de la police */
            text-align: center; /* Centrage horizontal */
            margin-bottom: 20px; /* Espace sous le titre */
            justify-content: center;
        }

        form {
            margin-top: 30px; /* Espacement du formulaire par rapport au contenu */
            text-align: center;
        }

        select {
            padding: 10px;
            font-size: 1em;
            margin-top: 10px; /* Espacement entre le formulaire et le select */
        }

        button[type="submit"] {
            padding: 10px 
            20px;
            background-color: #007bff; /* Couleur de fond du bouton */
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            transition: background-color 0.3s ease; /* Transition douce pour le changement de couleur */
        }

            button[type="submit"]:hover {
                background-color: #0056b3; /* Changement de couleur au survol */
            }

        .form-container {
            display: none;
        }
        /* Cacher les boutons par défaut */
        .param-description-btn {
            display: none;
            cursor: pointer;
            margin-left: 5px;
        }

        /* Afficher les boutons au survol de leur parent */
        div:hover .param-description-btn {
            display: inline-block;
        }
    </style> 
</head>
<body>
    <h1 class="welcome-title">BIENVENUE SUR VOTRE SITE DE GESTION LOGISTIQUE</h1>
    <section class="horizontal-section">
        <div class="import-section">
            <form method="post" asp-action="Upload" asp-controller="Home" enctype="multipart/form-data">
                <label for="file">Choisissez le fichier à traiter </label>
                <input type="file" id="file" name="files" multiple>
                <button type="submit"></button>
            </form>
        </div>
    </section>
    <form asp-action="Valider" id="form" method="post" asp-controller="Home">
    <div class="method-sections">
        <section class="method-section analytique" id="method-Analytique">
            <h2>Méthode Analytique</h2>
        <ul class="Menu">
        <li>
            <input type="checkbox" id="checkbox-Analytique" name="method1" value="Analytique" onclick="toggleForm('Analytique')">
            <label for="checkbox-Analytique">Méthode Analytique</label>
           
            <div class="col-md-8">
                <div class="result" id="analizResult">
                    @if (ViewBag.Accuracy != null && ViewBag.ExecutionTime != null)
                    {
                        <h4>Result:</h4>
                        <pre>Accuracy: @ViewBag.Accuracy</pre>
                        <pre>Execution Time: @ViewBag.ExecutionTime</pre>
                        
                    }
                </div>
            </div>
            <!--</div>-->

        </li>
        </ul>
        </section>
        <section class="method-section svm" id="method-SVM">
        <h2>Méthode SVM</h2>
        <ul class="Menu">
            <li>
                <input type="checkbox" id="checkbox-SVM" name="method2" value="SVM" onclick="toggleForm('SVM')">

                <label for="checkbox-SVM">Méthode SVM</label>
                <div id="form-container-SVM" class="form-container">
                    

                        <!-- Formulaire pour SVM -->
                        <div>
                            <label for="Param1">Paramètre de régularisation(C)</label>
                                <span class="param-description-btn" data-description="Il contrôle la trade-off entre la marge maximale et la classification correcte des points d'entraînement">?</span>                            <select id="Param1" name="Param1">
                                <option value="1.0">Par défaut:1.0</option>
                                <option value="100">Maximum:100</option>
                                <option value="0.1">Minimum:0.1</option>
                            </select>
                        </div>
                        <div>
                            <label for="Param2">Paramètre du noyau(Kernel)</label>
                            <span class="param-description-btn" data-description="Le noyau à utiliser dans l'algorithme SVM">?</span>
                            <br />
                            <select id="Param2" name="Param2">
                                <option value="rbf">RBF</option>
                                <option value="poly">Poly</option>
                                <option value="linear">Linear</option>
                                <option value="sigmoid">Sigmoid</option>
                                <option value="precomputed">Precomputed</option>
                            </select>
                        </div>
                        <div>
                            <label for="Param3">Coefficient du noyau(Gamma)</label>
                            <span class="param-description-btn" data-description="Il définit jusqu'à quel point l'influence d'un seul exemple d'entraînement s'étend">?</span>
                            <br />
                            <select id="Param3" name="Param3">
                                <option value="10">Maximum:10</option>
                                <option value="0.001">Minimum:0,001</option>
                            </select>
                        </div>
                        <div>
                            <label for="Param4">Nombre de plis pour validation croisée</label>
                            <span class="param-description-btn" data-description="Nombre de plis pour validation croisée">?</span>
                            <br />
                            <select id="Param4" name="Param4">
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                            <div>
                                <label for="Param5">Degré du noyau(Degree)</label>
                                <span class="param-description-btn" data-description="Le degré du polynôme si le noyau est de type 'poly'">?</span>
                                <br />
                                <input type="number" id="Param5" name="Param5" min="1" max="10" data-default="3">
                            </div>
                            <div>
                                <label for="Param6">Coefficient indépendant du noyau(Coef0)</label>
                                <span class="param-description-btn" data-description="Le degré du polynôme si le noyau est de type 'poly'">?</span>
                                <br />
                                <input type="number" id="Param6" name="Param6" min="0.0" max="1" step="0.1" data-default="0.0">
                            </div>
                            <div>
                                <label for="Param7">Activer le rétrécissement de la marge(Shrinking)</label>
                                <span class="param-description-btn" data-description="Activer ou désactiver le rétrécissement de la marge">?</span>
                                <br />
                                <select id="Param7" name="Param7">
                                    <option value="True">Oui</option>
                                    <option value="False">Non</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param8">Activer la probabilité de sortie(Probability)</label>
                                <span class="param-description-btn" data-description="Activer ou désactiver la probabilité de sortie">?</span>
                                <br />
                                <select id="Param8" name="Param8">
                                    <option value="False">Non</option>
                                    <option value="True">Oui</option>
                                    
                                </select>
                            </div>
                            <div>
                                <label for="Param9">Tolérance de tolérance d'arrêt(Tol)</label>
                                <span class="param-description-btn" data-description="La tolérance pour arrêter l'optimisation">?</span>
                                <br />
                                <input type="number" id="Param9" name="Param9" min="0.001" step="0.001" data-default="0.001">
                            </div>
                            <div>
                                <label for="Param10">Taille du cache(Cache Size)</label>
                                <span class="param-description-btn" data-description="La taille du cache en Mo">?</span>
                                <br />
                                <input type="number" id="Param10" name="Param10" min="200" max="500" step="50" data-default="200">
                            </div>
                            <div>
                                <label for="Param11">Verbosité(Verbose)</label>
                                <span class="param-description-btn" data-description="Le niveau de verbosité">?</span>
                                <br />
                                <select id="Param11" name="Param11">
                                    <option value="False">Non</option>
                                    <option value="True">Oui</option>
                                    
                                </select>
                            </div>
                            <div>
                                <label for="Param12">Nombre maximal d'itérations(Max Iter)</label>
                                <span class="param-description-btn" data-description="Le nombre maximal d'itérations">?</span>
                                <br />
                                <input type="number" id="Param12" name="Param12" min="-1" max="60" step="5" data-default="-1">
                            </div>
                            <div>
                                <label for="Param13">Forme de la fonction de décision(Decision Function Shape)</label>
                                <span class="param-description-btn" data-description="La forme de la fonction de décision">?</span>
                                <br />
                                <select id="Param13" name="Param13">
                                    <option value="ovr">One-vs-Rest</option>
                                    <option value="ovo">One-vs-One</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param14">Break Ties</label>                                
                                <span class="param-description-btn" data-description="Détermination de la règle de rupture">?</span>
                                <br />
                                <select id="Param14" name="Param14">
                                    <option value="False">Faux</option>
                                    <option value="True">Vrai</option>
                                    
                                </select>
                            </div>
                            <div>
                                <label for="Param15">Seed pour la randomisation(Random State)</label>
                                <span class="param-description-btn" data-description="Seed pour la randomisation">?</span>
                                <br />
                                <input type="number" id="Param15" name="Param15" min="24" data-default="42">
                            </div>
                       

                   

                </div>
                <div class="col-md-8">
                    <div class="result" id=" ="svmResult>
                        @if (ViewBag.ScoreSVM != null)
                        {
                            <h4>Résultats :</h4>
                            <p>Score : @ViewBag.ScoreSVM</p>
                            <p>Matrice de confusion :</p>
                            <table>
                                @foreach (var row in ViewBag.MatriceDeConfusionSVM)
                                {
                                    <tr>
                                        @foreach (var item in row)
                                        {
                                            <td>@item</td>
                                        }
                                    </tr>
                                }
                            </table>
                            <p>Temps d'exécution : @ViewBag.TempsExecutionSVM</p>
                            <p>Détails de classement :</p>
                            <table>
                                <tr>
                                    <th>Tags</th>
                                    <th>Classé dans la boîte</th>
                                    <th>Devrait être classé dans la boîte</th>
                                </tr>
                                @foreach (var detail in ViewBag.DetailsClassementSVM)
                                {
                                    <tr>
                                        <td>@detail.Tags</td>
                                        <td>    </td>
                                        <td>@detail["Classé dans la boîte"]</td>
                                        <td>    </td>
                                        <td>@detail["Devrait être classé dans la boite"]</td>
                                    </tr>
                                }
                            </table>

                        }
                        else
                        {
                            <p>Aucun résultat disponible pour l'instant.</p>
                        }
                    </div>
                </div>



            </li>
        </ul>
        </section>
        <section class="method-section knn" id="method-KNN">
        <h2>Méthode KNN</h2>
        <ul class="Menu">
        <li>
            <input type="checkbox" id="checkbox-KNN" name="method3" value="KNN" onclick="toggleForm('KNN')">
            <label for="checkbox-KNN">Méthode KNN</label>
            <div id="form-container-KNN" class="form-container">
                
                    <!-- Formulaire pour KNN -->
                     <div>
                      <label for="Param16">metric</label>
                     <span class="param-description-btn" data-description="La mesure de distance utilisée pour calculer la proximité entre les points.">?</span>
                       <br />
                       <select id="Param16" name="Param16">
                         <option value="minkowski">Minkowski</option>
                         <option value="euclidean">Euclidienne</option>
                         <option value="manhattan">Manhattan</option>
                       </select>
                     </div>
                    <div>
                        <label for="Param17">n_neighbors</label>
                        <span class="param-description-btn" data-description="Le nombre de voisins à considérer lors de la prédiction.">?</span>
                        <br />
                        <select id="Param17" name="Param17">
                            <option value="5">Default:5</option>
                            <option value="20">Maximum:20</option>>
                            <option value="5">Minimum:5</option>
                            
                        </select>
                    </div>
                                <div>
                                    <label for="Param18">Nombre de plis pour validation croisée</label>
                                    <select id="Param18" name="Param18">
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            <div>
                                <label for="Param19">weights</label>
                                
                                <span class="param-description-btn" data-description="La méthode utilisée pour pondérer les voisins.">?</span>
                                <br />

                                <select id="Param19" name="Param19">
                                    <option value="uniform">Uniforme</option>
                                    <option value="distance">Distance</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param20">algorithm</label>
                                <span class="param-description-btn" data-description="L'algorithme utilisé pour calculer les voisins les plus proches.">?</span>
                                <br />
                                
                                <select id="Param20" name="Param20">
                                    <option value="auto">Auto</option>
                                    <option value="ball_tree">Ball Tree</option>
                                    <option value="kd_tree">KD Tree</option>
                                    <option value="brute">Brute</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param21">leaf_size</label>
                                <span class="param-description-btn" data-description="La taille de la feuille pour les arbres ball ou KD.">?</span>
                                <br />
                                                               
                                <input type="number" id="Param21" name="Param21" min="30" max="60" step="5" data-default="30">
                                
                            </div>
                            <div>
                                <label for="Param22">p</label>
                                <span class="param-description-btn" data-description="Paramètre pour la distance de Minkowski.">?</span>
                                <br />
                               <input type="number" id="Param22" name="Param22" min="2"  step="1" data-default="2">
                                
                            </div>
                            <div>
                                <label for="Param23">n_jobs</label>
                                <span class="param-description-btn" data-description="Nombre de tâches à exécuter en parallèle.">?</span>
                                <br />
                                <input type="number" id="Param23" name="Param23" min="-1" max="20" step="1" data-default="-1">
                              
                            </div>
                       
            </div>
                   
            <div class="col-md-8">
                <div class="result" id="knnResult">
                    @if (ViewBag.ScoreKNN != null)
                    {
                        <h4>Résultats :</h4>
                        <p>Score : @ViewBag.ScoreKNN</p>
                        <p>Matrice de confusion :</p>
                        <table>
                            @foreach (var row in ViewBag.MatriceDeConfusionKNN)
                            {
                                <tr>
                                    @foreach (var item in row)
                                    {
                                        <td>@item</td>
                                    }
                                </tr>
                            }
                        </table>
                        <p>Temps d'exécution : @ViewBag.TempsExecutionKNN</p>
                        <p>Détails de classement :</p>
                        <table>
                            <tr>
                                <th>Tags</th>
                                <th>Classé dans la boîte</th>
                                <th>Devrait être classé dans la boîte</th>
                            </tr>
                            @foreach (var detail in ViewBag.DetailsClassementKNN)
                            {
                                <tr>
                                    <td>@detail.Tags</td>
                                    <td>    </td>
                                    <td>@detail["Classé dans la boîte"]</td>
                                    <td>    </td>
                                    <td>@detail["Devrait être classé dans la boite"]</td>
                                </tr>
                            }
                        </table>


                    }
                    else
                    {
                        <p>Aucun résultat disponible pour l'instant.</p>
                    }
                </div>
            </div>
        </li>
       </ul>
        </section>
        <section class="method-section RandomForest" id="method-RandomForest">
        <h2>Méthode Random Forest</h2>
        <ul class="Menu">
            <li>
                <input type="checkbox" id="checkbox-RandomForest" name="method4" value="RandomForest" onclick="toggleForm('RandomForest')">
                <label for="checkbox-RandomForest">Méthode RandomForest</label>
                <div id="form-container-RandomForest" class="form-container">
                       
                        <!-- Formulaire pour RandomForest -->
                            <div>
                                <label for="Param24">n_estimators</label>
                               <span class="param-description-btn" data-description="Le nombre d'arbres de décision dans la forêt.">?</span>
                                <br />
                                
                               <input type="number" id="Param24" name="Param24" min="100" step="50" data-default="100">
                                
                            </div>
                            <div>
                                <label for="Param25">min_samples_split</label>
                                <span class="param-description-btn" data-description="Le nombre minimum d'échantillons requis pour diviser un nœud interne.">?</span>
                                <br />
                                <input type="number" name="Param25" id="Param25" min="2" step="1" data-default="2">
                            </div>
                            <div>
                                <label for="Param26">max_depth</label>
                                
                                <span class="param-description-btn" data-description="La profondeur maximale de chaque arbre de décision.">?</span>
                                <br />
                                <input type="number" name="Param26" id="Param26" min="3" max="10" step="1" data-default="3">
                            </div>
                            <div>
                                <label for="Param27">criterion</label>
                                <span class="param-description-btn" data-description="La fonction pour mesurer la qualité d'une partition.">?</span>
                                <br />
                                <select id="Param27" name="Param27">
                                    <option value="gini">Gini</option>
                                    <option value="entropy">Entropie</option>
                                    <option value="log_loss">Log_loss</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param28">max_features</label>
                                <span class="param-description-btn" data-description="Le nombre de caractéristiques à considérer lors de la recherche de la meilleure partition.">?</span>
                                <br />
                                <select id="Param28" name="Param28">
                                    <option value="sqrt">Sqrt</option>
                                    <option value="log2">Log2</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param29">min_samples_leaf</label>
                                <span class="param-description-btn" data-description="Le nombre minimum d'échantillons requis pour être au niveau d'une feuille.">?</span>
                                <br />
                                <input type="number" name="Param29" id="Param29" min="1" max="10" step="1" data-default="1">
                            </div>
                            <div>
                                <label for="Param30">min_weight_fraction_leaf</label>
                                <span class="param-description-btn" data-description="Le poids minimum qu'un échantillon doit avoir pour être considéré dans un nœud de feuille.">?</span>
                                <br />
                                <input type="number" name="Param30" id="Param30" min="0.0" max="10" step="0.1" data-default="0.0">
                            </div>
                            <div>
                                <label for="Param31">max_leaf_nodes</label>
                                <span class="param-description-btn" data-description="Le nombre maximum de nœuds de feuille.">?</span>
                                <br />
                                <input type="number" name="Param31" id="Param31" min="2" max="10" step="1" data-default="2">
                            </div>
                            <div>
                                <label for="Param32">min_impurity_decrease</label>
                                <span class="param-description-btn" data-description="Un nœud sera divisé si cette division induit une diminution de l'impureté plus grande ou égale à cette valeur.">?</span>
                                <br />
                                <input type="number" name="Param32" id="Param32" min="0.0" max="10" step="0.1" data-default="0.0">
                            </div>
                            <div>
                                <label for="Param33">bootstrap</label>
                                <span class="param-description-btn" data-description="Indique si les échantillons sont tirés avec remplacement.">?</span>
                                <br />
                                <select id="Param33" name="Param33">
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param34">oob_score</label>
                                <span class="param-description-btn" data-description="Indique si d'utiliser les échantillons hors-bag pour estimer la précision du généralisateur.">?</span>
                                <br />
                                <select id="Param34" name="Param34">
                                    <option value="False">False</option>
                                    <option value="True">True</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param35">n_jobs</label>
                                <span class="param-description-btn" data-description="Le nombre de jobs parallèles à exécuter pour l'ajustement de l'arbre de décision.">?</span>
                                <br />
                                <input type="number" name="Param35" id="Param35" min="-1" max="20" step="1" data-default="-1">
                            </div>
                            <div>
                                <label for="Param36">random_state</label>
                                <span class="param-description-btn" data-description="Contrôle le tirage aléatoire des échantillons utilisés lors de la construction des arbres de décision.">?</span>
                                <br />
                                <input type="number" name="Param36" id="Param36" min="24" step="10" data-default="42">
                            </div>
                            <div>
                                <label for="Param37">verbose</label>
                                <span class="param-description-btn" data-description="Contrôle la verbosité lors de l'ajustement et de la prédiction.">?</span>
                                <br />
                                <input type="number" name="Param37" id="Param37" min="0" step="1" data-default="0">
                            </div>
                            <div>
                                <label for="Param38">warm_start</label>
                                <span class="param-description-btn" data-description="Quand il est True, réutilise la solution de l'appel précédent pour ajuster et ajouter plus d'estimateurs à l'ensemble.">?</span>
                                <br />
                                <select id="Param38" name="Param38">
                                    <option value="False">False</option>
                                    <option value="True">True</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param39">class_weight</label>
                                <span class="param-description-btn" data-description="Les poids associés à chaque classe dans l'ensemble de données.">?</span>
                                <br />
                                <select id="Param39" name="Param39">
                                    <option value="balanced">Balanced</option>
                                    <option value="balanced_subsample">Balanced Subsample</option>
                                </select>
                            </div>
                            <div>
                                <label for="Param40">ccp_alpha</label>
                                <span class="param-description-btn" data-description="Paramètre de complexité utilisé pour la stratégie d'élagage Minimal Cost-Complexity Pruning.">?</span>
                                <br />
                                <input type="number" name="Param40" id="Param40" min="0.0" step="0.1" data-default="0.0">
                            </div>
                            <div>
                                <label for="Param41">max_samples</label>
                                <span class="param-description-btn" data-description="Le nombre d'échantillons à tirer des données d'apprentissage pour s'entraîner chaque arbre de décision.">?</span>
                                <br />
                                <input type="number" name="Param41" id="Param41" min="0" step="1" max="2" data-default="0">
                            </div>
                        <div>
                            <label for="Param42">Nombre de plis pour validation croisée</label>
                            <select id="Param42" name="Param42">
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>

                        </div>
                        
                    
                </div>
                <div class="col-md-8">
                    <div class="result" id="randomForestResult">
                        @if (ViewBag.ScoreRF != null)
                        {
                            <h4>Résultats :</h4>
                            <p>Score : @ViewBag.ScoreRF</p>
                            <p>Matrice de confusion :</p>
                            <table>
                                @foreach (var row in ViewBag.MatriceDeConfusionRF)
                                {
                                    <tr>
                                        @foreach (var item in row)
                                        {
                                            <td>@item</td>
                                        }
                                    </tr>
                                }
                            </table>
                            <p>Temps d'exécution : @ViewBag.TempsExecutionRF</p>
                            <p>Détails de classement :</p>
                            <table>
                                <tr>
                                    <th>Tags</th>
                                    <th>Classé dans la boîte</th>
                                    <th>Devrait être classé dans la boîte</th>
                                </tr>
                                @foreach (var detail in ViewBag.DetailsClassementRF)
                                {
                                    <tr>
                                        <td>@detail.Tags</td>
                                        <td>    </td>
                                        <td>@detail["Classé dans la boîte"]</td>
                                        <td>    </td>
                                        <td>@detail["Devrait être classé dans la boite"]</td>
                                    </tr>
                                }
                            </table>

                        }
                        else
                        {
                            <p>Aucun résultat disponible pour l'instant.</p>
                        }
                    </div>
                </div>



            </li> 
        
        </ul>
            
        </section>
        
            <div class="conteneur-bouton">
            <button type="submit" class="bouton-envoyer">Valider</button>
            </div>
            <div class="conteneur-bouton">
                <!-- Utilisez un lien pour déclencher l'action -->
                <a href="@Url.Action("Histogramme_Boite_Moustache", "Home", new {
        resultatAnalytique = ViewBag.Accuracy != null ? ViewBag.Accuracy : 0,
        resultatRandomForest = ViewBag.ScoreRF != null ? ViewBag.ScoreRF : 0,
        resultatSVM = ViewBag.ScoreSVM != null ? ViewBag.ScoreSVM : 0,
        resultatKNN = ViewBag.ScoreKNN != null ? ViewBag.ScoreKNN : 0
    })" class="bouton-envoyer">Afficher l'histogramme</a>
            </div>



           
    </div>
    </form>
    

    <!-- Script JavaScript 
    <script src="script.js"></script>-->
    <!-- Script JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        function toggleForm(methodName) {
            var formContainer = document.getElementById('form-container-' + methodName);
            var checkbox = document.getElementById('checkbox-' + methodName);

            if (checkbox.checked) {
                formContainer.style.display = 'block'; // Affiche le formulaire si la case est cochée
            } else {
                formContainer.style.display = 'none'; // Masque le formulaire si la case n'est pas cochée
            }
        }
        // Récupérer tous les éléments span avec la classe param-description-btn
        const descriptionButtons = document.querySelectorAll('.param-description-btn');

        // Pour chaque bouton, ajoutez un gestionnaire d'événements pour afficher la description au survol
        descriptionButtons.forEach(button => {
            button.addEventListener('mouseenter', () => {
                const description = button.getAttribute('data-description');
                alert(description); // Remplacez cela par du code pour afficher la description de manière plus esthétique
            });
        });

        /*function showForm(methodName) {
            var formContainer = document.getElementById('form-container-' + methodName);
            if (formContainer.style.display === 'block') {
                formContainer.style.display = 'none';
            } else {
                formContainer.style.display = 'block';
            }

            // Assure que le formulaire est affiché en bas de la carte
            window.scrollTo({
                top: formContainer.offsetTop,
                behavior: 'smooth'
            });
        }*/
        function submitSelectedForms() {
            // Récupérer toutes les cases à cocher
            var checkboxes = document.getElementsByName('method');
            var selectedForms = [];

            // Parcourir les cases à cocher pour trouver celles qui sont cochées
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    // Ajouter le formulaire associé à la case à cocher cochée à la liste
                    selectedForms.push(document.getElementById('form' + (i + 1)));
                }
            }

            // Vérifier si au moins une case à cocher est cochée
            if (selectedForms.length > 0) {
                // Soumettre chaque formulaire sélectionné
                selectedForms.forEach(function (form) {
                    form.submit();
                });
            } else {
                // Si aucune case à cocher n'est cochée, afficher un message d'erreur
                alert("Veuillez sélectionner au moins un formulaire à valider.");
            }
        }
        function submitSelectedForms2() {
            var checkboxes = document.getElementsByName('method');
            var selectedForms = [];

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedForms.push(document.getElementById('form' + (i + 1)));
                }
            }

            if (selectedForms.length > 0) {
                selectedForms.forEach(function (form) {
                    var formData = new FormData(form);
                    fetch(form.action, {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => response.json())
                        .catch(error => console.error("Error submitting form", error));
                    promises.push(promise);
                });

                Promise.all(promises).then(results => {
                    console.log("All forms submitted successfully");
                    // Option pour rafraîchir la page ou afficher un message de succès
                    alert("Tous les formulaires ont été soumis avec succès.");
                    window.location.reload(); // Rafraîchir la page
                    //
                    // window.location.href = 'some_other_page.html'; // Rediriger vers une autre page
                });
            } else {
                alert("Veuillez sélectionner au moins un formulaire à valider.");
            }
        }




    </script>
</body>
</html>
