@model IEnumerable<Projet_Tech_Pag_Con.Models.SimulationAdmin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateSimulationAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomMethodeAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatriceConfusionAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temps_ExecutionAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SimulationIdAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateSimulationAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomMethodeAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformanceAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriceConfusionAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temps_ExecutionAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SimulationIdAdmin)
            </td>
            <td>
                    @await Html.PartialAsync("_GetUserName", item.UserId)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
