@model Projet_Tech_Pag_Con.Models.ExecutionMethode

@{
    ViewData["Title"] = "Details";
}



<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://img.freepik.com/photos-gratuite/fond-noir-blanc-ondule_23-2150530922.jpg?t=st=1717037698~exp=1717041298~hmac=452300f8f38b62b2bd65008966f9bf20e3c814f2383e1f5d46a1a0867e7699ef');
            background-size: cover; /* Make sure the image covers the whole page */
            background-repeat: no-repeat; /* Prevent the image from repeating */
            background-attachment: fixed; /* Ensure the background stays fixed when scrolling */
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        h1 {
            text-align: center;
            color: #333;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            margin-top: 0;
        }

        .row {
            margin-bottom: 15px;
        }

        dt {
            font-weight: bold;
        }

        dd {
            margin-left: 0;
        }

        .btn-custom-black {
            background-color: black;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }

            .btn-custom-black:hover {
                background-color: #333;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Details</h1>

        <div>
            <h4>ExecutionMethode</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NomMethode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NomMethode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Details)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Details)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Performance)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Performance)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MatriceConfusion)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MatriceConfusion)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Temps_Execution)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Temps_Execution)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UserRole)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UserRole.Id)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Index" class="btn-custom-black">Back</a>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

